<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="type_name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="DinosaurType_form_edit" 
        service="DinosaurType" 
        entity="DinosaurType" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #type_name attr="type_name" label=" type_name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="SKELETONDINOSAURTYPE-dinosaur_type_id">
    <div layout-padding>
      <o-table 
        attr="SkeletonDinosaurTypeTable" 
        service="SkeletonDinosaurType" 
        entity="SkeletonDinosaurType" 
        keys="id"
        parent-keys="dinosaur_type_id:id"
        columns="id;dinosaur_type_id;skeleton_id"  
        horizontal-scroll="yes"
        detail-form-route="SkeletonDinosaurType" 
        edit-form-route="SkeletonDinosaurType"
        visible-columns="id;dinosaur_type_id;skeleton_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="dinosaur_type_id" title="dinosaur_type_id">
    <o-table-cell-renderer-service attr="dinosaur_type_id" 
        service="DinosaurType" entity="DinosaurTypeType" columns="id;type_name"
        parent-keys="id:dinosaur_type_id"
        value-column="type_name" keys="dinosaur_type_id"
        visible-columns="type_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="skeleton_id" title="skeleton_id">
    <o-table-cell-renderer-service attr="skeleton_id" 
        service="Skeleton" entity="SkeletonType" columns="id;name"
        parent-keys="id:skeleton_id"
        value-column="name" keys="skeleton_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>